# Voxel51

In [1]:
import pandas as pd
import fiftyone as fo
import os

## Retrieving data from dataset.csv

In [4]:
# location within dockerfile
df = pd.read_csv("/notebooks/dataset.csv")
df.head()

,file_path,img_size,img_mode,img_format,tts,class,type
0,../data/val/NORMAL/NORMAL2-IM-1431-0001.jpeg,"(1736, 1416)",L,JPEG,val,NORMAL,normal
1,../data/val/NORMAL/NORMAL2-IM-1440-0001.jpeg,"(1632, 1225)",L,JPEG,val,NORMAL,normal
2,../data/val/NORMAL/NORMAL2-IM-1442-0001.jpeg,"(1564, 1302)",L,JPEG,val,NORMAL,normal
3,../data/val/NORMAL/NORMAL2-IM-1436-0001.jpeg,"(1288, 928)",L,JPEG,val,NORMAL,normal
4,../data/val/NORMAL/NORMAL2-IM-1430-0001.jpeg,"(1272, 1040)",L,JPEG,val,NORMAL,normal

## Running Voxel51

In [ ]:
samples = []
for filepath, type in zip(df.file_path, df.type):
    sample = fo.Sample(filepath=filepath)
    sample.tags.append(type)
    samples.append(sample)

dataset = fo.Dataset()
dataset.add_samples(samples)
dataset.shuffle(seed=51)

session = fo.launch_app(dataset, address="0.0.0.0", port=5151)
session.wait()